body {
    font-family: "맑은 고딕", "굴림체", sans-serif;
    font-size: 11pt;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

/* Navbar */
#navbar {
    font-size: 9pt;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr repeat(4, 45px);
    grid-template-areas: ". gmail images apps sign-in";

}

.gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}

.images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}

.apps {
    grid-area: apps;
    justify-self: center;
    align-self: center;
}

.sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}

/* Main */
#main {
    display: grid;
    grid-template-rows: 200px 80px 80px;
    grid-template-areas: 
        ". logo ."
        ". searchbox ."
        ". btn .";
    justify-items: center;
}

.logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}

.searchbox {
    grid-area: searchbox;
    justify-self: center;
    align-self: center;
    width: 550px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.151);
    border-radius: 30px;
}

.searchbox:hover {
    box-shadow: 1px 1px 5px gray;
}

.btn {
    grid-area: btn;
    justify-self: center;
    align-self: center;
}