body {
    font-family: "맑은 고딕", "굴림체", sans-serif;
    font-size: 11pt;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}

/* Navbar */
#navbar {
    font-size: 9pt;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr repeat(4, 45px);
    grid-template-areas: ". gmail images apps sign-in";

}

.gmail {
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}

.images {
    grid-area: images;
    justify-self: center;
    align-self: center;
}

.apps {
    grid-area: apps;
    justify-self: center;
    align-self: center;
}

.sign-in {
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}

